.header {
	height: 300px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 400px;
	position: relative;
}

.header-image {
	position: relative;
	object-fit: cover;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.header-overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.607) 0%, transparent 30%);
}

.navbar {
	display: flex;
	z-index: 10;
	justify-content: space-between;
	width: 75%;
	position: absolute;
	top: 3.25rem;
	color: white;
}

.navbar-links {
	display: flex;
	gap: 32px;
}

.navbar-link {
	font-size: 16px;
	cursor: pointer;
}

.navbar-link:hover {
	font-weight: 700;
}
@media only screen and (max-width: 520px) {
	.mobile-hide {
		display: none;
	}
	.mobile-show {
		display: flex;
	}

	.header {
		height: 300px;
	}
	.navbar {
		display: none;
	}

	.hamburger-menu {
		display: block;
		z-index: 10;
		width: calc(100vw - 48px);
		position: absolute;
		color: white;
		width: 100vw;
		justify-content: start;
		padding-top: 24px;
	}

	.opened {
		width: 100vw;
		height: 100vh;
		justify-content: start;
		padding-top: 24px;
		background: linear-gradient(rgba(0, 0, 0, 0.807) 0%, transparent 80%);
	}

	.hamburger-menu-top {
		width: calc(100vw - 48px);
		margin: auto;
		display: flex;
		z-index: 10;
		justify-content: space-between;
		color: white;
	}

	.opened > .hamburger-menu-links {
		width: calc(100vw - 48px);
		margin: auto;
	}

	.hamburger-menu-links {
		position: relative;
		top: 32px;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;
		border-radius: 8px;
	}

	.navbar-link {
		padding: 24px;
		font-weight: 500;
		background-color: white;
		color: black;
		border-top: 1px solid var(--Light-gray);
	}
}
